<div>
    <h1 class="text-column3">My projects</h1>
  </div>
  
  <div class="info-sections">
    <div class="info-section">
      <div class="text">
        <h2>Classes Booking System</h2>
        <p>The API is a booking system where users can register, login and purchase packages. This includes framework and architectures that are .Net Core, MSSQL, MVC, Entity Framework, Cache (Redis) and Bearer Token (After login).</p>
      </div>
  
      <div class="text">
        <!-- <button mat-button class="submit-btn" >About Us</button> -->
        <a href="https://github.com/ChitChitZaw01/BookingSystem-Web-API" target="_blank">
          <button mat-button class="submit-btn">View on GitHub</button>
        </a>
      </div>
    </div>
    <div class="info-section">
      <div class="text">
        <h2>Portfolio</h2>
        <p>My Portfolio is a personal website designed to showcase my skills, projects, and experience as a developer. The website was developed using Angular 17, leveraging its powerful features to create a dynamic, responsive, and high-performance web application.
  
          -Designing the layout and structure of the portfolio to ensure a clean, modern, and user-friendly interface, using Angular Material to integrate a consistent, material design aesthetic across the site.
          -Implementing sections such as an about me page, project gallery, and contact form to highlight my work and professional journey.
          -Customizing Angular Material components like buttons, cards, navigation drawers, and toolbars to build a polished and engaging user experience.
          -Setting up routing and lazy loading for efficient navigation and performance optimization.
          Deploying the portfolio on GitHub Pages, ensuring easy access.
          This project demonstrates my ability to work with modern front-end technologies, create responsive web applications, and deploy them efficiently using GitHub Pages.
        </p>
      </div>
  
      <div class="text">
        <button mat-button class="submit-btn" >View Portfolio</button>
      </div>
    </div>
    <div class="info-section">
      <div class="text">
        <h2>Educational Institute Website</h2>
        <p>Brilliant Edu is an educational platform designed to provide resources and information about educational opportunities, learning materials, and tools for students. The website was developed using Google Sites, which allowed for a user-friendly and efficient way to create a professional and functional site.
          Designing the layout and structure of the website to ensure a clean, accessible, and user-friendly interface.
          Implementing the content, including text, images, and educational resources, to make the site engaging for its audience.
          Customizing the Google Sites templates to match the branding and vision of the Brilliant Edu project.
          Setting up and managing the custom domain to ensure a professional online presence.</p>
      </div>
  
      <div class="text">
        <a href="https://www.brilliant-edu.org/" target="_blank">
          <button mat-button class="submit-btn">View Website</button>
        </a>    </div>
    </div>
  </div>