<div class="home-container">
  <div class="text-column2">
    <h1>What we are doing now</h1>
    <p class="justified-text">
      As we are a group of educators, we focus on giving training and networking for higher education and career
      developing. We started as English proficiency class, but now, we are going to provide more classes. We plan to
      open class for the following courses:
    </p>
    <p class="justified-text">1. Language class (English, Japanese)
    </p>
    <p class="justified-text">2. ICT Class (Python, Web Design)
    </p>
    <p class="justified-text">3. University Preparation (GED, SAT)
    </p>
    <p class="justified-text">We expected to accept over 200 students in a year through these courses in our institute.
      We are also connecting partner universities for credit transfer so that students can pursue higher education. </p>
  </div>
</div>

<div class="home-container">
  <div class="image-column">
    <img src="assets/images/aboutUs2.jpg" alt="Home Image" />
  </div>
  <div class="text-column">
    <h1>Our Vision </h1>
    <p class="justified-text">We emphasize on empowering youths to have sufficient professional skills for their future
      career and help to shape their dreams to achieve.
      We make sure youths to get education rights that they deserve anywhere and anytime.</p>
  </div>
</div>

<div class="home-container">
  <div class="text-column">
    <h1>Our Mission</h1>
    <p class="justified-text">-To share knowledge about international education</p>
    <p class="justified-text">-To help youths to explore their strength and weakness</p>
    <p class="justified-text">-To open opportunities for youths having access to higher education and career choice</p>
  </div>

  <div class="image-column">
    <img src="assets/images/gp_stydying.jpg" alt="Home Image" />
  </div>
</div>

<!-- <div class="text-column2">
  <h1>Our Team</h1>
</div>

<div class="info-sections">
  <div class="info-section">
    <img src="assets/images/girl.jpg" alt="Feature 1" />
    <div class="text">
      <h2>Teacher Phyu</h2>
      <p>Leader</p>
    </div>
  </div>

  <div class="info-section">
    <img src="assets/images/girl.jpg" alt="Feature 2" />
    <div class="text">
      <h2>Teacher Zin</h2>
      <p>
        Leader</p>
    </div>
  </div>

  <div class="info-section">
    <img src="assets/images/boy.jpg" alt="Feature 3" />
    <div class="text">
      <h2>Teacher Zaw</h2>
      <p>Leader
      </p>
    </div>
  </div>

  <div class="info-section">
    <img src="assets/images/boy.jpg" alt="Feature 3" />
    <div class="text">
      <h2>Teacher Paing</h2>
      <p>Leader
      </p>
    </div>
  </div>
</div> -->

<!-- <app-footer></app-footer> -->