<div>
  <h1 class="text-column2">Education</h1>
</div>

<mat-card *ngFor="let education of education" class="product-card">
  <div class="product-details">
    <img matCardImage [src]="education.image" alt="{{ education.major }}" class="product-image">
    <div class="product-info">
      <h3 class="name">{{ education.major }}</h3>
      <h3 class="name">{{ education.bachelor }}</h3>
      <h3 class="name">{{ education.university }}</h3>
      <p class="description">{{ education.description }}</p>
    </div>
  </div>
</mat-card>

<div>
  <h1 class="text-column2">Experiences</h1>
</div>

<mat-card *ngFor="let experience of experiences" class="product-card">
  <div class="product-details">
    <img matCardImage [src]="experience.image" alt="{{ experience.position }}" class="product-image">
    <div class="product-info">
      <h3 class="name">{{ experience.position }}</h3>
      <h3 class="name">{{ experience.company }}</h3>
      <h3 class="name">{{ experience.date }}</h3>
      <p class="description">{{ experience.description }}</p>
    </div>
  </div>
</mat-card>

<!-- <app-footer></app-footer> -->