<div class="home-container">

  <div class="image-column">
    <img src="assets/images/ccz_profile.jpg" alt="Home Image" />
  </div>

  <div class="text-column">
    <h1>Welcome to Brilliant Educational Institute</h1>

    <div class="container">
      <div class="top-section">
        <p class="justified-text">BEI is a short form of Brilliant Educational Institute, which is a small organization
          founded in order to provide vocational training for Myanmar Youths who lost their education rights within
          their own country. BEI is composed of a group of young educators who wish to strive a change for the future
          generation.
          BEI was first established as Brilliant Education Center on social platform, and this education center has been
          giving language class since 2023 via online platform with affordable price. </p>
      </div>
      <div class="bottom-section">
        <p class="justified-text">It mainly focuses on giving English proficiency class starting from elementary level
          to academic training courses for nearly 2 years. Within 2 years, we have provided assistance to over 200
          youths for their future purposes through the various courses.As the vulnerable population are growing, we are
          striving more to provide the necessary skills for them. The organization needs to grow for more room, so we
          decided to expand education center to vocational institute for the purpose of providing more courses.</p>
      </div>
    </div>


  </div>
</div>

<div>
  <h1 class="text-column3">Our Popular Courses</h1>
</div>

<div class="info-sections">
  <div class="info-section">
    <img src="assets/images/eng.jpg" alt="Feature 1" />
    <div class="text">
      <h2>English Learning</h2>
      <p>Improve your English grammar, vocabulary and more with BEI English Live.</p>
    </div>
  </div>

  <div class="info-section">
    <img src="assets/images/jp.jpg" alt="Feature 2" />
    <div class="text">
      <h2>Japanese Learning</h2>
      <!-- Ready to learn Japanese in a fun and relaxed way?  -->
      <p>
        Dive into a world of Japanese language to help you learn naturally.</p>
    </div>
  </div>

  <div class="info-section">
    <img src="assets/images/it2.jpg" alt="Feature 3" />
    <div class="text">
      <h2>Information Technology Learning</h2>
      <p>Information technology has been one of the leading drivers of globalization.
        Let dive together!
      </p>
    </div>
  </div>

  <div class="info-section">
    <img src="assets/images/eng.jpg" alt="Feature 1" />
    <div class="text">
      <h2>English Learning</h2>
      <p>Improve your English grammar, vocabulary and more with BEI English Live.</p>
    </div>
  </div>
</div>

<!-- <app-courses></app-courses> -->
<app-contact></app-contact>
<!-- <app-footer></app-footer> -->